<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
</head>
<body>
    <div class="contenu">
        <div class="container">
            <div class="text">
                <!-- Titre de la section d'ajout de tâche -->
                Ajouter une Tâche
            </div>
            <!-- Formulaire pour ajouter une nouvelle tâche -->
            <form (ngSubmit)="ajouterTache()">
                <div class="form-row">
                    <div class="input-data">
                        <!-- Champ de saisie pour le titre de la tâche -->
                        <input type="text" name="titre" [(ngModel)]="nouvelleTache.titre" required>
                        <div class="underline"></div>
                        <label for="">Titre</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data textarea">
                        <!-- Champ de saisie pour la description de la tâche -->
                        <textarea name="description" [(ngModel)]="nouvelleTache.description" rows="8" cols="80" required></textarea>
                        <br />
                        <div class="underline"></div>
                        <label for="">Donner la description</label>
                        <br />
                        <div class="form-row submit-btn">
                            <div class="input-data">
                                <div class="inner"></div>
                                <!-- Bouton pour soumettre le formulaire -->
                                <input type="submit" value="AJOUTER">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="cartes">
            <div class="ag-format-container">
                <div class="ag-courses_box">
                    <!-- Boucle pour afficher chaque tâche sous forme de carte -->
                    <div class="ag-courses_item" *ngFor="let tache of taches">
                        <a href="#" class="ag-courses-item_link">
                            <div class="ag-courses-item_bg"></div>
                            <!-- Titre de la tâche -->
                            <div class="ag-courses-item_title" [class.completed]="tache.completed">
                                <!-- Case à cocher pour marquer la tâche comme terminée -->
                                <input type="checkbox" (change)="toggleCompleted(tache)" [checked]="tache.completed">
                                {{ tache.titre }}
                            </div>
                            <!-- Description de la tâche -->
                            <div class="ag-courses-item_date-box">
                                Description:
                                <span class="ag-courses-item_date">
                                    {{ tache.description }}
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
