<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
</head>
<body>
    <div class="contenu">
        <div class="container">
            <div class="text">
                <!-- Titre de la section d'ajout de tâche -->
                Ajouter une Tâche
            </div>
            <!-- Formulaire pour ajouter une nouvelle tâche -->
            <form (ngSubmit)="ajouterTache()">
                <div class="form-row">
                    <div class="input-data">
                        <!-- Champ de saisie pour le titre de la tâche -->
                        <input type="text" name="titre" [(ngModel)]="nouvelleTache.titre" required>
                        <div class="underline"></div>
                        <label for="">Titre</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-data textarea">
                        <!-- Champ de saisie pour la description de la tâche -->
                        <textarea name="description" [(ngModel)]="nouvelleTache.description" rows="8" cols="80" required></textarea>
                        <br />
                        <div class="underline"></div>
                        <label for="">Donner la description</label>
                        <br />
                        <div class="form-row submit-btn">
                            <div class="input-data">
                                <div class="inner"></div>
                                <!-- Bouton pour soumettre le formulaire -->
                                <input type="submit" value="AJOUTER">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        
        <div class="cartes">
            <!-- Barre de recherche -->
            <div class="search-container">
                <input type="text" placeholder="Rechercher des tâches..." [(ngModel)]="searchTerm" />
                <button type="submit">
                </button>
              </div>
              
              <div class="ag-format-container">
                <h2>La liste de toutes les tâches</h2>
                <div class="ag-courses_box">
                  <!-- Boucle pour afficher les tâches non terminées -->
                  <div class="ag-courses_item" *ngFor="let tache of filteredTachesNonTerminees()">
                    <a href="#" class="ag-courses-item_link">
                      <div class="ag-courses-item_bg" [class.completed]="tache.completed"></div>
                      <div class="ag-courses-item_title" [class.completed]="tache.completed">
                        <input type="checkbox" (change)="toggleCompleted(tache)" [checked]="tache.completed">
                        {{ tache.titre }}
                      </div>
                      <div class="ag-courses-item_date-box">
                        Description:
                        <span class="ag-courses-item_date">
                          {{ tache.description }}
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              
                <h2>La liste des tâches terminées</h2>
                <div class="ag-courses_box">
                  <!-- Boucle pour afficher les tâches terminées -->
                  <div class="ag-courses_item" *ngFor="let tache of filteredTachesTerminees()">
                    <a href="#" class="ag-courses-item_link">
                      <div class="ag-courses-item_bg completed"></div>
                      <div class="ag-courses-item_title completed">
                        <input type="checkbox" (change)="toggleCompleted(tache)" [checked]="tache.completed">
                        {{ tache.titre }}
                      </div>
                      <div class="ag-courses-item_date-box">
                        Description:
                        <span class="ag-courses-item_date">
                          {{ tache.description }}
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
    </div>
</body>
</html>
